@*/* Nicholas Uramkin
    * Lab 5
    * ITSE 1430
    * 4/30/2018
    * Index.cshtml
    * */*@
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to MovieLib Web</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div>Nicholas Uramkin</div>
        <div>ITSE 1430</div>
    </div>
</div>